<template>
  <v-container fluid>
    <v-data-table-server
        v-model:items-per-page="itemsPerPage"
        :headers="headers"
        :items-length="totalItems"
        :items="serverItems"
        :loading="loading"
        @update:options="getAppointments"
        :items-per-page-options="itemsPerPageDefaultOption"
        show-current-page
        hover
        items-per-page-text="Записей на странице"
        no-data-text="Ничего не найдено"
    >
      <template v-slot:item="{item, index}">
        <tr>
          <td class="text-center">
            {{ index + 1 }}
          </td>
          <td class="text-center">
            {{ item.visitDateTime }}
          </td>
          <td class='text-center'>
            <v-btn :disabled='checkDate(item.visitDateTime)' icon='$cancel' size='small'
                   @click='cancelAppointment(item)'></v-btn>
          </td>
        </tr>
      </template>
    </v-data-table-server>
    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        :theme="toggleTheme"
    >
      {{ message }}

      <template v-slot:actions>
        <v-btn
            color="success"
            variant="text"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>
<script>
import axios from "axios";

export default {
  name: "appointments-page",
  data() {
    return {
      snackbar: false,
      timeout: 5000,
      message: '',
      api_url: process.env.VUE_APP_API_URL + '/api',
      itemsPerPage: 5,
      headers: [
        {
          title: '#',
          align: 'center',
          key: 'number',
          sortable: false
        },
        {title: 'Время визита', align: 'center', key: 'visitDateTime'},
        {title: 'Отменить', align: 'center', key: 'cancel', sortable: false},
      ],
      totalItems: 0,
      serverItems: [],
      loading: true,
      itemsPerPageDefaultOption: [
        {value: 5, title: '5'},
        {value: 10, title: '10'},
        {value: 25, title: '25'}],
    }
  },
  methods: {
    async getAppointments({page, itemsPerPage, sortBy}) {
      this.loading = true
      let sortKey = sortBy[0]?.key === undefined ? '' : sortBy[0]?.key;
      let isDescending = sortBy[0]?.order !== 'asc';
      itemsPerPage = itemsPerPage === -1 ? 1 : itemsPerPage;
      const userId = window.Telegram.WebApp.initDataUnsafe.user.id
      await axios.get(`${this.api_url}/appointments/paged/${userId}?startRow=${page - 1}&count=${itemsPerPage}&sortBy=${sortKey}&isDescending=${isDescending}`)
          .then(response => {
            this.serverItems = response.data.content
            this.totalItems = response.data.totalElements

            this.loading = false
          })
    },
    async cancelAppointment(appointment) {
      await axios.delete(`${this.api_url}/appointments`, {
        data: appointment
      })
          .then(() => {
            this.snackbar = true
            this.message = 'Запись отменена'
            let index = this.serverItems.findIndex(o => o.id === appointment.id);
            this.serverItems.splice(index, 1)
          })
          .catch(error => console.log(error))
    },
    checkDate(visitDateTime) {
      return new Date(visitDateTime) < new Date();
    },
  },
  computed: {
    toggleTheme() {
      return window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    },
  }
}
</script>


<style scoped>

</style>