<template>
  <v-container>
    <YandexMap :coordinates='coords' :zoom='15' style='width: 100%; height: 300px'>
      <YandexMarker :coordinates='coords' marker-id='123'/>
    </YandexMap>
    <p class='adress-p'>{{ address }}</p>
    <v-container class="mx-0 px-0">
      <h4>Контактная информация</h4>
      <div class='d-flex align-center justify-space-between px-1 mt-3'>
        <div>Телефон</div>
        <div @click='callMe()'>{{ phoneNumber }}</div>
      </div>
      <v-divider class='my-3'/>
      <div class='d-flex align-center justify-space-between px-1 mt-3'>
        <div>Телеграм</div>
        <div @click='chatMe()'>{{ telegramLink }}</div>
      </div>
      <v-divider class='my-3'/>
      <v-row class='d-flex align-center justify-space-between px-1 mt-3'>
        <v-col>Услуги</v-col>
        <v-col>{{ services }}</v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import {YandexMap, YandexMarker} from 'vue-yandex-maps'
import axios from 'axios';
import {useTheme} from 'vuetify';

export default {
  name: "contact-page",
  components: {
    YandexMap,
    YandexMarker
  },
  data() {
    return {
      coords: [],
      api_url: process.env.VUE_APP_API_URL + '/api',
      address: '',
      phoneNumber: '',
      telegramLink: '',
      services: ''
    }
  },
  methods: {
    async getOwnerInfo() {
      await axios.get(`${this.api_url}/owner_info/get`)
          .then(response => {
            this.modifyCoords(response.data.addressCoordinates)
            this.address = response.data.address
            this.phoneNumber = response.data.phoneNumber
            this.telegramLink = response.data.telegramLink
            this.services = response.data.services
          })
    },

    modifyCoords(coordsString) {
      this.coords = coordsString.split(', ')
    },

    chatMe() {
      const url = `https://t.me/${this.telegramLink.substring(1)}`
      window.open(url, '_blank')
    },

    callMe() {
      window.open(`tel:${this.phoneNumber}`)
    },
  },
  mounted() {
    window.Telegram.WebApp.ready();
    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    window.Telegram.WebApp.enableClosingConfirmation();
    this.getOwnerInfo();
  }
}
</script>


<style scoped>
.adress-p {
  font-size: 16px;
  margin-top: 5px;
}
</style>