<template>
  <v-container>
    <v-row justify='space-around'>
      <v-date-picker
          v-model='date'
          :allowed-dates='allowedDates'
          :title='title'
          @update:modelValue='currentDate'
          @update:month='updateMonth'
          @update:year='show = false'
      ></v-date-picker>
    </v-row>
    <v-row v-if='show' class='justify-center'>
      <v-container class='justify-center text-center mb-6'>
        <v-btn
            v-for='timeObject in filteredAvailableTimes'
            :key='timeObject.id'
            class='ma-4 pa-1 justify-space-between'
            @click.prevent='openDialog(timeObject.id)'
            min-width='220'
        >
          <v-container class='ma-1 pa-1 justify-center'>
            <v-row class='justify-center mx-1'>{{ timeObject.time }}</v-row>
            <v-row class='justify-center mx-1'>{{ timeObject.favor?.name }}</v-row>
          </v-container>
        </v-btn>
      </v-container>
    </v-row>
    <v-snackbar
        v-model='snackbar'
        :timeout='timeout'
        :theme='toggleTheme'
    >
      {{ message }}

      <template v-slot:actions>
        <v-btn
            color='success'
            variant='text'
            @click='snackbar = false'
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <div class='text-center'>
      <v-dialog
          v-model='dialog'
          width='auto'
      >
        <v-card>
          <v-card-text>
            Вы уверены?
          </v-card-text>
          <v-card-actions>
            <v-btn color='primary' @click='makeAppointment'>Записаться</v-btn>
            <v-btn color='primary' @click='dialog = false'>Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import {useTheme} from 'vuetify';

export default {
  name: 'home-page',
  data() {
    return {
      responseMap: new Map(),
      date: new Date(),
      show: false,
      availableTimes: [],
      title: 'Выберите день приема',
      api_url: process.env.VUE_APP_API_URL + '/api',
      snackbar: false,
      timeout: 5000,
      message: '',
      dialog: false,
      chosenAppointmentId: null
    }
  },
  methods: {
    allowedDates(val) {
      let date = this.$vuetify.date.toISO(val);
      axios.get(`${this.api_url}/appointments/check_day?date=${date}`)
          .then(response => {
            this.responseMap.set(date, response.data)
          })

      return this.responseMap.get(date) === true
    },
    currentDate(prop) {
      axios.get(`${this.api_url}/appointments/available_times?date=${new Date(prop).toLocaleDateString()}`)
          .then(response => {
            this.title = 'Выберите время приема'
            this.show = true;
            this.availableTimes = response.data
          })
    },
    updateMonth() {
      this.show = false;
      this.title = 'Выберите день приема'
    },
    openDialog(appointmentId) {
      this.dialog = true
      this.chosenAppointmentId = appointmentId;
    },

    makeAppointment() {
      const body = {
        appointmentId: this.chosenAppointmentId,
        userId: window.Telegram.WebApp.initDataUnsafe.user.id
      }
      axios.post(`${this.api_url}/appointments/user_made_appointment`, body)
          .then(() => {
            let index = this.availableTimes.findIndex(o => o.id === body.appointmentId);
            this.availableTimes.splice(index, 1);
            this.dialog = false
            this.snackbar = true
            this.message = 'Вы успешно записались!'
          })
          .catch(() => {
            this.dialog = false
            this.snackbar = true
            this.message = 'Ошибка. Попробуйте позже'
          })
    },
  },
  mounted() {
    this.$vuetify.locale.current = 'ru'
    window.Telegram.WebApp.ready();
    const theme = useTheme();
    theme.global.name.value = window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    window.Telegram.WebApp.enableClosingConfirmation();
  },
  computed: {
    toggleTheme() {
      return window.Telegram.WebApp.colorScheme === 'dark' ? 'dark' : 'light'
    },

    filteredAvailableTimes() {
      return this.availableTimes.filter(availableTime => {
        if (availableTime.favor) {
          return availableTime.favor.isActive
        } else {
          return availableTime
        }
      })
    },
  }
}
</script>


<style scoped>

</style>