<template>
  <v-layout class='rounded rounded-md'>
    <v-app-bar title='Запись'>
      <v-spacer></v-spacer>

      <v-btn variant='text' icon='$home' :to='links.at(0).url'></v-btn>
      <v-btn variant='text' icon='$appointment' :to='links.at(2).url'></v-btn>

    </v-app-bar>

    <v-main class='d-flex align-center justify-center' style='min-height: 300px;'>
      <router-view/>
    </v-main>
  </v-layout>
</template>

<script>
import {links} from '@/_config.js'

export default {
  name: 'App',
  data() {
    return {
      links: links,
    }
  },
}
</script>

<style>
</style>
